body{
    font-family: 'Alata', sans-serif;
}
p{
    color: #6a7080;
    font-family: 'Varela Round', sans-serif;
}
a{
    transition: all .3s;
}
a:hover{
    text-decoration: none;
}
/* Colors */
.text-dark-blue{
    color: #08192d;
}
.text-pink{
    color: #fc0254;
}
.text-gray{
    color: #6a7080;
}
/* Buttons */
.button-pink{
    background-color: #fc0254;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
}
.button-pink:hover{
    background-color: #fff;
    color: #fc0254;
}
.button-dark-blue{
    background-color: #0a183d;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
}
.button-dark-blue:hover{
    background-color: #fff;
    color: #0a183d;
}
.button-blue{
    background-color: #2980b9;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
}
.button-blue:hover{
    background-color: #fff;
    color: #2980b9;
}
.button-green{
    background-color: #087c71;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
}
.button-green:hover{
    background-color: #fff;
    color: #087c71;
}
/* Box Shadow */
.shadow-basic{
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}
/* Footer Setup */
.footer .logo{
    width: 40px;
}
.footer .logo-text{
    color: #fff;
    margin-top: 5px;
}
.bg-nav{
    background-image: url(images/bg-nav.png);
    background-size: cover;
    height: 95px;
    position: absolute;
    width: 100%;
}
.nav-vexpo{
    padding: 25px 0;
    position: absolute;
    width: 96%;
    z-index: 9;
}
/* Navigation Menu and Logo */
.nav-vexpo .logo, .login-page .logo{
    width: 50px;
}
.nav-vexpo .logo-text{
    font-size: 20px;
    color: #fff;
    margin-top: 6px;
}
.nav-vexpo .menu-nav, .nav-vexpo .menu-right{
    padding-top: 3px;
}
.nav-vexpo .menu-nav > ul{
    list-style-type: none;
}
.nav-vexpo .menu-nav > ul > li {
    display: inline;
    margin: 15px;
}
.nav-vexpo .menu-nav > ul > li > a{
    color: #fff;
}
.nav-vexpo .menu-nav > ul > li > a:hover, .nav-vexpo .menu-right > ul > li > a:hover{
    color: #fc0254;
}
.nav-vexpo .menu-right > ul {
    list-style-type: none;
}
.nav-vexpo .menu-right > ul > li{
    display: inline;
    margin: 6px;
}
.nav-vexpo .menu-right > ul > li > a, .nav-vexpo .menu-right > ul > .divider{
    color: #fff;
}
.nav-vexpo .menu-right .register{
    background-color: #fc0254;
    padding: 4px 10px;
    border-radius: 250px;
    transition: all .3s;
}
.nav-vexpo .menu-right .register > a{
    color: #fff;
}
.nav-vexpo .menu-right .register:hover{
    background-color: #fff;
}
.nav-vexpo .menu-right .register a:hover{
    color: #fc0254;
}
/* Side Menu */
.side-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0a183d;
    padding: 30px;
    top: 0;
    left: -100%;
    transition: all .3s;
}
.side-menu ul{
    text-align: center;
}
.side-menu ul:first-child{
    padding-top: 50px;
}
.side-menu ul > li > a{
    color: #fff;
    font-size: 20px;
}
.side-menu ul > li{
    margin: 20px;
}
.side-menu.active{
    left: 0;
}
/* Page */
.header-home .banner-text h1{
    font-size: 65px;
}
.header-home .banner-text h1:nth-child(2){
    margin-top: -30px;
}
.header-home{
    background-image: url(images/header-bg.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 8.5rem;
}
.home-brief{
    background-image: url(images/brief-home-01.jpg);
    background-size: cover;
}
.vexpo-points{
    background-image: url(images/bg-point-vexpo-01.jpg);
    background-size: cover;
}
.upcoming-stream .thumbnails .thumbnail-item .images-item{
    transition: all .3s;
}
.upcoming-stream .thumbnails .thumbnail-item .images-item:hover{
    transform: scale(1.1)
}
.home-sponsors{
    background-image: url();
    background-size: cover;
}
.home-sponsors .thumbnails .thumbnails-item .images-item, .home-partners .thumbnails .thumbnails-item .images-item{
    filter: grayscale(100%);
    transition: all .3s;
}
.home-sponsors .thumbnails .thumbnails-item .images-item:hover, .home-partners .thumbnails .thumbnails-item .images-item:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
.footer{
    background-image: url(images/our-sponsors-bg-01.jpg);
    background-size: cover;
}
.home-supported{
    background-image: url(images/supported-bg-01.jpg);
    background-size: cover;
    background-position: center;
}
.vendor-thumbnails .card, .news-thumbnails .card{
    transition: all .3s;
}
.vendor-thumbnails .card:hover,  .news-thumbnails .card:hover{
    transform: scale(1.03);
}
.vendors-page{
    background-image: url(images/page-vendors-bg-01.jpg);
    background-size: cover;
    background-position: center;
}
.vendors-details-page{
    background-image: url(images/vendor-details-page-bg-alternative-2-01.jpg);
    background-position: bottom;
    background-size: cover;
}
.login-page{
    background-image: url(images/vendor-details-page-bg-alternative-2-01.jpg);
    background-position: top;
    background-size: cover;
}
.streams-page{
    background-image: url(images/bg-streams-new-01.jpg);
    background-position: top;
    background-size: cover;
}
.style-streams{
    background-color: #fc0254;
    padding: 4px 10px;
    color: #fff;
    border-radius: 10px;
}
.background-essentials{
    background-image: url(images/vendor-details-page-bg-alternative-2-01.jpg);
    background-size: cover;
    background-position: bottom;
}
.background-about-page{
    background-image: url(images/background-about-page-01.jpg);
    background-size: cover;
    background-position: bottom;
}
.border-map{
    border: 5px solid #fff !important;
    border-radius: 10px;
}
.register-padding{
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.bg-help{
    background-image: url(images/bg-help-01.jpg);
    background-size: cover;
    background-position: top;
}
@media screen and (max-width: 846px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer .links, .footer .about-us, .footer .explore{
        text-align: center;
    }
    .header-home .banner-text h1 {
        font-size: 50px;
    }
    .socmed-vendor-details{
        text-align: center;
        margin: 0 0 50px;
    }
}